body {
  font-family: "Indie Flower", sans-serif;
  padding: 0.8em;
}
#board {
  background-color: darkgrey;
  display: flex;
  flex-wrap: wrap;
  border: 10px solid rgb(96, 62, 37);
  justify-content: space-around;
  padding: 1em;
}
.postitall {
  margin: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  box-shadow: 2px 3px 10px;
}

.postitall h3 {
  font-weight: bold;
  font-size: 1.6em;
  margin-bottom: 0.8em;
}

#postit1 {
  width: 260px;
  height: 210px;
  background: linear-gradient(palegoldenrod 75%, rgb(142, 139, 139));
  transform: rotate(3deg);
}

#postit1:hover {
  transform: rotate(0deg);
  transform: scale(1.1);
  z-index: 1;
  transition: 1s;
}

#postit2 {
  width: 260px;
  height: 210px;
  background: linear-gradient(paleturquoise 75%, rgb(142, 139, 139));
  transform: rotate(-5deg);
}

#postit2:hover {
  transform: rotate(0deg);
  transform: scale(1.1);
  z-index: 1;
  transition: 1s;
}

#postit3 {
  width: 260px;
  height: 210px;
  background: linear-gradient(lightgreen 75%, rgb(142, 139, 139));
  transform: rotate(7deg);
}

#postit3:hover {
  transform: rotate(0deg);
  transform: scale(1.1);
  z-index: 1;
  transition: 1s;
}

#postit4 {
  width: 260px;
  height: 210px;
  background: linear-gradient(plum 75%, rgb(142, 139, 139));
  transform: rotate(-3deg);
}

#postit4:hover {
  transform: rotate(0deg);
  transform: scale(1.1);
  z-index: 1;
  transition: 1s;
}

#postit5 {
  width: 260px;
  height: 210px;
  background: linear-gradient(lightgreen 75%, rgb(142, 139, 139));
  transform: rotate(-5deg);
}
#postit5:hover {
  transform: rotate(0deg);
  transform: scale(1.1);
  z-index: 1;
  transition: 1s;
}
#postit6 {
  width: 260px;
  height: 210px;
  background: linear-gradient(palegoldenrod 75%, rgb(142, 139, 139));
  transform: rotate(3deg);
}
#postit6:hover {
  transform: rotate(0deg);
  transform: scale(1.1);
  z-index: 1;
  transition: 1s;
}
#postit7 {
  width: 260px;
  height: 210px;
  background: linear-gradient(plum 75%, rgb(142, 139, 139));
  transform: rotate(-5deg);
}

#postit7:hover {
  transform: rotate(0deg);
  transform: scale(1.1);
  z-index: 1;
  transition: 1s;
}
#postit8 {
  width: 260px;
  height: 210px;
  background: linear-gradient(paleturquoise 75%, rgb(142, 139, 139));
  transform: rotate(6deg);
}
#postit8:hover {
  transform: rotate(0deg);
  transform: scale(1.1);
  z-index: 1;
  transition: 1s;
}
@media screen and (max-width: 1252px) {
  #board {
    flex-wrap: nowrap;
  }
}
